*.pyc
*.pth
*.nobackup
*nobackup
*log.txt
*.toml
*.csv
*.profile
*.tfevents*
*.ptd

**/logs/**/*.txt

.idea/
datasets/
outputs/
output/
test_imgs/
saved_models/
.ipynb_checkpoints/
__pycache__/
aggregated/
segmentation_plots/
inference_plots/
hashes/
meta/

logdir/
plots_bak/
**/logs/*.log
**/plots/*/*.png
**/plots/*/*.pdf
**/plots/*.pdf
**/plots/*.png
**/plots/**/*.json


experiments/segmentation_pretraining/plants/outputs/
experiments/segmentation_pretraining/plants2/zeroshot_phenology/*/*.jpg
experiments/segmentation_pretraining/plants2/tools/plots/pred_obs/plots/*

!resnet_keraslike.pth
!irr_unet.pth

.vscode/settings.json
experiments/segmentation_pretraining/plants/logs/spt_log.toml2
